#A{
   background-image:linear-gradient(to right,#996633,#cc9900);
   background-color:#996633;
   color:black;
   text-align:center;
   font-size:15px;
   width:100%;
   height:70px;
   padding-top:10px;
   padding-bottom:10px;
}
#main1{
   width:46%;
   height:480px;
   margin-top:30px;
   float:left;
   border:3px solid black;
   /*background-color:#ffffb3;*/
}
#B{
   width:99.7%;
   height:478px;
  /* border:1px solid black;*/
   /*margin-top:10px;*/
   /*margin-left:57px;*/
   background-image:url("guest1.jpg");
   background-size:contain;
   background-position:center center;
  /* background-repeat:no-repeat;*/
   border:2px solid black;
}
#C{
   width:100%;
   height:200px;
   margin-top:40px;
  /* margin-left:57px;*/
  /* border:1px solid black;*/
}
#D{
   width:24.6%;
   height:150px;
   float:left;
   background-size:cover; 
   border:1px solid #999966;
}
#E{
   width:24.6%;
   height:150px;
   margin-left:10px;
   float:left;
   background-size:cover; 
   border:1px solid #999966;
}
#F{
   width:24.6%;
   height:150px;
   margin-left:10px;
   float:left;
   background-size:cover; 
   border:1px solid #999966;
}
#main2{
       width:51%;
       height:480px;
       float:left;
       margin-left:25px;
       margin-top:30px;
       border:3px solid black;
       background-image:linear-gradient(to bottom right, #ffff66,#ff9933);
       background-color:#ffff66;
       /*background-color:#ffff66;*/
       opacity:0.6;
}
.p1{
    width:600px;
    padiing-top:20px;
    font-size:23px;
    text-align:center;
    padding-left:30px;
}

#main3{
       width:500px;
       height:130px;
       /*border:1px solid black;*/
       float:left;
       margin-left:720px;
       margin-top:60px;
       /*background-image:linear-gradient(to right,#e0e0d1,#a3a375);
       background-color:#e0e0d1;*/
}
#button1{
        width:170px;
        height:80px;
        background-color:#cc9900;
        color:#cc0000;
        margin-left:30px;
        margin-top:30px;
        font-size:17px;
        font-weight:bold;
}
#button2{
       width:170px;
        height:80px;
        background-color:#cc9900;
        color:#cc0000;
        margin-left:100px;
        margin-top:25px;
        font-size:17px;
        font-weight:bold; 
}
/*a{
  text-decoration:none;
  color:#cc0000;
  width:150px;
  height:60px;
}*/
a:hover{
       /*background-color:#f0f5f5;*/
       color:#85adad;
}*/

